:root {
  --bg-azul: #1243ac;
  --text-white: #fff;
}

.bg-azul {
  background-color: var(--bg-azul);
  color: var(--text-white);
}

.bg-azul:hover {
  color: var(--text-white);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e4e5e9;
}
table {
  background-color: white;
}

Table .table-title th {
  background-color: rgb(18, 67, 172);
  color: white;
  font-size: 12px;
}
.excel-icon {
  color: white;
}
/* .button-export-wrapper button {
  margin-top: 30px;
  margin-right: 20px;
} */

.buttons-wrapper button {
  margin-right: 20px;
}
.page-title {
  text-transform: uppercase;
  font-family: "Quicksand", "Arial Narrow", Arial, sans-serif;
}
.navbar {
  background-color: #052b49;
  border-bottom: solid 1px;
  border-color: black;
}
.offcanvas-header {
  background-color: #052b49;
}
.offcanvas-header button {
  background-color: transparent;
  border: none;
}

.close {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.7;
}
.close:hover {
  opacity: 1;
}

.sidebar-nav ul li a {
  font-size: 26px;

  text-decoration: none;

  display: block;

  padding: 6px 10px;

  transition: 0.5s;
}

.sidebar-nav ul li a:hover {
  background-color: #eeeeee;

  border-radius: 4px;
}

.sidebar-nav .offcanvas {
  width: 220px;

  border: none;
}

.sidebar-nav .offcanvas ul li a span {
  font-size: 18px;

  position: relative;

  top: -4px;

  transition: 0.5s;
}

.sidebar-nav .offcanvas.show ul li a:hover span {
  padding-left: 10px;
}

.sidebar-nav .dropdown-toggle::after {
  position: relative;

  top: 3px;
}
